DB_USER=postgres
DB_PASS=postgres
DB_NAME=agent_service_db
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

INQUIRY_DB_HOST = 192.168.1.62
INQUIRY_DB_PORT = 5432
INQUIRY_DB_USER = postgres
INQUIRY_DB_PASS = POSTGRES_PASS
INQUIRY_DB_NAME = erp

TARGET_DB_HOST=192.168.1.62
TARGET_DB_PORT=5432
TARGET_DB_USER=postgres
TARGET_DB_PASS=POSTGRES_PASS
TARGET_DB_NAME=erp
GROQ_API_KEY=""

VLLM_HOST=http://14.195.173.186:4040
VISION_VLLM_HOST=http://110.227.210.189:4040

MINIO_ENDPOINT=localhost:9005
MINIO_ENDPOINT_PORT=9005
MINIO_CONSOLE_PORT=9006
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=documents
MINIO_WHATSAPP_BUCKET=whatsapp-attachments
MINIO_SECURE=False

# Email Service
EMAIL_SERVICE_PORT=3005
APP_DB_NAME=agent_service_db
APP_DB_UNAME=postgres
APP_DB_PASS=postgres
APP_DB_HOST=127.0.0.1
APP_DB_PORT=5432

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

IMAP_USER=your-email@gmail.com
IMAP_PASSWORD=your-app-password
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_TLS=true
